¡
.card-login {
  background-image: url('../imagenes/mesa2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 15%;
  margin-top: 17vh;
}
.card-registro {
  background-image: url('../imagenes/mesa2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 15%;
  margin-top: 10vh;
}

.boton-login {
  width: 100%;
  margin-top: 10px;
  border: none;
  background-image: url("./imagenes/blackjacktable.png");
}
.boton-login:hover {
  opacity: 0.85;
}
.logo-google {
  width: 3vh;
}
.forgot-pass {
  opacity: 0.85;
  margin-top: 2px;
  font-size: 0.9em;
}
.forgot-pass:hover {
  opacity: 1;
}


