<section class="h-100">
    <div class="background container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                </div>
                <div
                    class="card-login card d-flex align-items-center shadow-lg animate__animated animate__bounceInDown">
                    <div class="card-body p-5 my-3">
                        <h1 class="fs-4 card-title fw-bold mb-4">Reestablecer tu contraseña</h1>
                        <form onsubmit="forgotPassword(event)">
                            <div class="mb-3">
                                <label class="mb-2 text" for="email">Ingresa tu correo electronico a
                                    continuación</label>
                                <input id="femail" type="email" class="form-control" name="email" value="" required
                                    autofocus>
                                <div class="invalid-feedback">
                                    El mail no es valido
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="submit" class="boton-login btn btn-success ms-auto">
                                    Reestablecer tu contraseña
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            <p>¿No tienes una cuenta? <a href="/register" class="text-success">Registrate</a></p>
                            <p>¿Ya tienes una cuenta? <a href="/login" class="text-success">Inicia sesion</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>