<section class="h-100">
    <div class="background container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                </div>
                <div
                    class="card-login card d-flex align-items-center shadow-lg animate__animated animate__bounceInDown">
                    <div class="card-body p-5 my-3">
                        <h1 class="fs-4 card-title fw-bold mb-4">Reestablecer tu contrase침a</h1>
                        <form onsubmit="resetPass(event)">
                            <div class="mb-3">
                                <label class="mb-2 text" for="password">Ingresa tu nueva contrase침a a continuaci칩n</label>
                                <input id="frpassword" type="password" class="form-control" name="password" value="" required
                                    autofocus>
                                <div class="invalid-feedback">
                                    El mail no es valido
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="submit" class="boton-login btn btn-success ms-auto">
                                    Reestablecer tu contrase침a
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer py-1 border-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>